body,
html {
    margin: 0;
    height: 100%;
}
.hero-section {
    height: 100vh;
    background-color: rgb(177, 203, 205);
    /* background: url('https://via.placeholder.com/1920x1080') center center /
        cover no-repeat; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* .box {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: blue;
} */
/* .wrapper {
    position: relative;
    width: 400px;
    height: 400px;
    border: 3px solid red;
} */
/* .btn-block {
    padding: 10px;
    background-color: grey;
    margin-top: 10px;
} */

button {
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 130px;
    height: 40px;
    color: #190909;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
}

/* ////////////////////////// */

h3 {
    margin: 0;
    padding-bottom: 0.3em;
    padding-right: 20px;
    font-size: 1.1em;
}

p {
    margin: 0;
    padding: 0 0 0.5em;
}

/* .pane {
    background: #edf5e1;
    padding: 10px 20px 10px;
    border-top: solid 2px #c4df9b;
    position: relative;
} */

/* .remove-button {
    position: absolute;
    font-size: 110%;
    top: 0;
    color: darkred;
    right: 10px;
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
} */
/* стилі для вспливаючого віконця */
.popup-message {
    display: none; /* Приховане за замовчуванням */
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336; /* Червоний колір для повідомлень про помилку */
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 16px;
}

.popup-message.show {
    display: block; /* Показуємо віконце, коли воно активне */
}
/* стилі підрахунку клієнтів */
#totalClients,
#totalCost {
    font-size: 1.5rem; /* Збільшений розмір шрифту */
    font-weight: bold; /* Жирний текст */
    color: #2c3e50; /* Темний синьо-сірий колір */
    margin: 10px 0; /* Відступи зверху та знизу */
    padding: 10px; /* Внутрішні відступи */
    background-color: #ecf0f1; /* Світло-сірий фон */
    border: 2px solid #2980b9; /* Синя рамка */
    border-radius: 5px; /* Згладжені кути */
    text-align: center; /* Вирівнювання по центру */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тінь для додаткового ефекту */
}
/* clock */
.clock {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #333;
    background-color: #f0f0f0;
}
.hour {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    transform-origin: bottom;
}
#hour1 {
    top: 25px;
    right: 50px;
}
#hour2 {
    top: 55px;
    right: 20px;
}
#hour3 {
    top: 91px;
    right: 10px;
}
#hour4 {
    bottom: 55px;
    right: 20px;
}
#hour5 {
    bottom: 25px;
    right: 50px;
}
#hour6 {
    bottom: 10px;
    left: 98px;
}
#hour7 {
    bottom: 25px;
    left: 50px;
}
#hour8 {
    bottom: 55px;
    left: 20px;
}
#hour9 {
    top: 91px;
    left: 10px;
}
#hour10 {
    top: 55px;
    left: 20px;
}
#hour11 {
    top: 25px;
    left: 50px;
}
#hour12 {
    top: 10px;
    left: 93px;
}

.hour-hand,
.minute-hand,
.second-hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    background-color: #333;
}

.hour-hand {
    width: 6px;
    height: 60px;
    border-radius: 6px;
}

.minute-hand {
    width: 4px;
    height: 80px;
    border-radius: 4px;
}

.second-hand {
    width: 2px;
    height: 90px;
    border-radius: 2px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: rgb(22, 55, 66);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* calendar */
.calendar {
    /* display: grid; */
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.month-year {
    grid-column: 1 / span 7;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.weekdays div,
.days div {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.days div {
    background-color: #d9eaff;
}

.days div:hover {
    background-color: #a7c9f2;
    cursor: pointer;
}

.current-day {
    color: #f39c12; /* Підсвітка для поточної дати */
}

.prev-month,
.next-month {
    background-color: #e0e0e0; /* Стиль для днів попереднього та наступного місяців */
    color: #888;
}

/* веь блок дата-часи */
.dataClock {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    /* width: 300px; */
}
